* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 50px;
}
header .shopping{
  position: relative;
  text-align: right;
}
header .shopping i {
 font-size: 25px;
}
header .shopping span{
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -5px;
  left: 80%;
  padding: 1px 5px;
}
.header-logo-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 5px 50px;
  margin-bottom: 5px;
}
.header-logo-1 img {
  cursor: pointer;
}
.header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-info span p {
  font-size: 12px;
  cursor: pointer;
}
.header-info a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.header-info a:hover {
  opacity: 1;
}
.header-info :not(:last-child) {
  border-right: 1px solid black;
  padding-right: 5px;
}
.header-logo-1 img {
  width: 20px;
  height: 20px;
}
.header-info span {
  font-size: 14px;
}
.header-logo img {
  width: 60px;
}

.header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 50px;
  /* position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100; */
}
.header-logo img {
  cursor: pointer;
}

.header-page ul {
  list-style: none;
  display: flex;
  gap: 2vw;
  font-weight: 500;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-page a {
  text-decoration: none;
  color: black;
}
.header-page ul li:hover{
  cursor: pointer;
  border-bottom: 2px solid black;
}
.header-page a:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}
.header-logo-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-logo-right a {
  text-decoration: none;
  color: black;
}
.header-logo-right i {
  font-size: 20px;
  cursor: pointer;
}
.header-logo-right button :hover {
  cursor: pointer;
  width: 30px;
}
.header-logo-right button {
  background-color: white;
  border: none;
  width: 30px;
}
.search-box {
  display: flex;
  position: relative;
}
#search-input {
  overflow: hidden;
  padding: 10px 50px 10px 10px;
  border: 1px solid black;
  border-radius: 20px;
}
.search-btn {
  position: absolute;
  padding: 4px;
  top: 5px;
  right: 10px;
}
.search-btn button {
  outline: none;
  border: none;
}
#logoutBtn{
  border: none;
  cursor: pointer;
}
#logoutBtn:hover{
  transform: scale(0.9);
}
#login{
  cursor: pointer;
}
